.cover__link {
    text-decoration: none;
    display: block;
    background-image: url(../../../images/reisen.png);
    object-fit: cover;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    z-index: 1;
    width: 500px;
    height: 313px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0;
    z-index: -1;
}


/*
.cover__link:hover::after {
    opacity: 0.8;
    transform: scale(1.1);
}*/

.cover__link:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .cover__link {
        margin-bottom: 20px;
        width: 300px;
        justify-content: center;
        margin: 0 auto;
    }
}