.projekt {
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-decoration: underline #FFFFFF;
}